node_modules
.next
.DS_Store
.env
dist
build
coverage
*.log
*.tmp
*.swp
.vscode/
.idea/
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
*.cache
*.pid
*.seed
*.pid.lock
*.sublime-workspace
*.sublime-project